# Measure Code Contributions in Percent

In [1]:
import pandas as pd

In [2]:
table = pd.read_csv("contributions.txt", sep=" ", header=None, names=("author", "changes"), thousands=",")
table.head()

          author  changes
0       sgalkina   383801
1      kvikshaug   339646
2  phantomas1234   254143
3    matyasfodor   212939
4      AlbaLopez   106443

In [3]:
total = table["changes"].sum()
table["percent"] = table["changes"] / total

In [4]:
for row in table.itertuples():
    print(f"{row.author} {row.percent:.2%}")

sgalkina 25.78%
kvikshaug 22.81%
phantomas1234 17.07%
matyasfodor 14.30%
AlbaLopez 7.15%
Midnighter 4.93%
annasirunian 2.42%
hredestig 1.52%
rolandjitsu 0.76%
nkran 0.66%
JuroOravec 0.59%
lyschoening 0.47%
lukaw3d 0.37%
pankaj28843 0.35%
warlink 0.26%
Melanie-M 0.18%
pasqoo 0.14%
blablabananarama 0.11%
BenjaSanchez 0.07%
talaaz 0.03%
carrascomj 0.02%
RavensburgOP 0.01%