# Measure Code Contributions in Percent

In [1]:
import pandas as pd

In [2]:
table = pd.read_csv("contributions.txt", sep=" ", header=None, names=("author", "changes"), thousands=",")
table.head()

          author  changes
0      kvikshaug   312595
1       sgalkina   288105
2  phantomas1234   254115
3      AlbaLopez   103075
4    matyasfodor    74357

In [3]:
total = table["changes"].sum()
table["percent"] = table["changes"] / total

In [4]:
for row in table.itertuples():
    print(f"{row.author} {row.percent:.2%}")

kvikshaug 26.67%
sgalkina 24.58%
phantomas1234 21.68%
AlbaLopez 8.79%
matyasfodor 6.34%
Midnighter 6.20%
annasirunian 3.08%
hredestig 1.00%
JuroOravec 0.75%
lukaw3d 0.46%
blablabananarama 0.15%
warlink 0.14%
BenjaSanchez 0.09%
talaaz 0.03%
carrascomj 0.02%
RavensburgOP 0.01%